<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BOARD</title>
  <link rel="stylesheet" href='/stylesheets/style.css' />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

</head>
<!--

//--- done
게시판 리스트 보기,
검색하기,
쓰기,
수정하기,
삭제하기,
페이징,
비밀번호 맞는지여부,
override method: delete, push

//--- have to 
파일첨부하기


//--- 질문
- 삭제글을 flag로 처리하는 이유( remove? drop 이아니라 )
- 서버쪽에서 에러가 났을때 frontend 단으로 전송하는 방식: error 처리


-->

<body>
  <div id="v-board" class="v-board">
    <!-- list -->
    <div class="board-list">
      <a href="/boards">
        <h1>게시판</h1>
      </a>
      <table class="board_list table">
        <tr>
          <th class="board-list-no">No.</th>
          <th class="board-list-title">Title</th>
          <th>Writer</th>
          <th>Date</th>
          <th>Count</th>
        </tr>
        <tr v-for="(item, idx) in items">
          <td class="number">
            {{ idx }}
          </td>
          <td class="title">
            <!-- <a v-bind:href="'/boards/view?id='+ item._id"  > -->
            <a v-on:click="showDetail(item._id)">
                  {{ item.title }}
                </a>
          </td>
          <td class="writer">
            {{item.writer}}
          </td>
          <td class="date">
            {{ formateDate( item.date ) }}
          </td>
          <td class="cnt">
            {{ item.count }}
          </td>
        </tr>
      </table>
      <hr>
      <div class="btns">
          <form action="/boards/search" method="get" id="action-search" name="action-search">
            <input v-model="searchWord" type="text" class="search_word" id="searchWord" name="searchWord">        
            <button type="button" v-on:click="searchItemSubmit">검색</button>
          </form>
        <button v-on:click="showAddNew()">새 글</button>
      </div>      
      <nav class="pagination-wrap" aria-label="Page navigation">
        <ul class="pagination">
          <li class="btn-prev-pagegroup">
            <a v-on:click="goPrevPageGroup" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>          
          <li v-for="(pageItem, idx) in objPage.listCurrent" ><a v-on:click="getPage(pageItem.page, searchWord)" href="#">{{pageItem.page}}</a></li>          
          <li class="btn-next-pagegroup">
            <a v-on:click="goNextPageGroup" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>      
    </div>
    <!--// list -->

    <!-- new content write form: 새글 쓰기 UI -->
    <div v-show="onAddNew" id="" class="write_form board-section">
        <h3>게시글 작성하기</h3>
        <form id="write-action" action="/boards?mode=add" method="post" enctype="multipart/form-data">
          <!-- <form id="writeAction" action="/boards/loadFile" method="post" enctype="multipart/form-data"> -->
          <input v-model="newItem.title" type="text" class="inputSubject" id="addContentSubject" name="addContentSubject" placeholder="제목">
          <input v-model="newItem.writer" type="text" class="inputWriter" id="addContentWriter" name="addContentWriter" placeholder="작성자">
          <input v-model="newItem.password" type="password" class="inputPassword" id="addContentPassword" name="addContentPassword" placeholder="비밀번호">
          <textarea v-model="newItem.contents"  class="textContents" id="addContents" name="addContents" rows="10" cols="80"></textarea>
          <input type="file" class="inputFile" id="UploadFile" name="UploadFile">
        </form>
        <div id="new" class="btns">
          <button v-on:click="addItemSubmit">작성완료</button>
          <button v-on:click="addItemCancle">작성취소</button>
        </div>
      </div>
      <!--// new content write form: 새글 쓰기 UI -->

    <!-- board detail -->
    <div v-show="onDetail" class="board-detail board-section">
        <h3>게시글 자세히 보기</h3>
        <div class="content-title"><span class="title-label">제목</span>: {{ detail.title }}</div>
        <div class="content-info"><span class="title-label">작성일</span>: {{ formateDate( detail.date) }}</div>
        <div class="detail-writer"><span class="title-label">작성자</span>: {{ detail.writer }}</div>
        
        <div class="content-text">
          <p class="title-label">내용</p>                    
          <div class="detail-contents">{{ detail.contents }}</div>
        </div>
        <div class="download-file">{{addFile}}</div>
        <div class="btns">
          <button v-on:click="modifyItem">수정</button>
          <!-- <button v-on:click="deleteItem">삭제</button> -->
          <!-- <button href="/boards">확인</button> -->
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!-- delete confirm window -->
        <div class="delete_confirm">
              <span>비밀 번호를 입력하면 글이 삭제됩니다.</span><br>
              <input v-model="delPw" type="password" id="delPassword" name="delPassword">
              <button v-on:click="deleteItem">삭제</button>
              <button v-on:click="deleteItemCancle">취소</button>            
        </div>
        <!-- end -->
        <div class="clear"></div>
      </div>
      <!--// board detail -->

      <!-- modify -->
      <div v-show="onModify" id="" class="modify_form board-section">
        <h3>게시글 수정하기</h3>
        <form id="modify-action" action="/boards/?mode=modify" method="post">
          <!-- 경로 설정 /: 이거 뭔가 해야징-->
          <input v-model="detail.title" type="text" class="modSubject" id="modContentSubject" name="modContentSubject" placeholder="제목">
          <input type="password" class="inputPassword" id="modContentPassword" name="modContentPassword" placeholder="비밀번호">
          <span class="modWriter" id="modContentWriter" name="modContentWriter">작성자: {{detail.writer}}</span>
          <textarea v-model="detail.contents" class="textContents" id="modContents" name="modContents" rows="5" cols="80"></textarea>

          <!-- <input type="hidden" id="modId" name="modId" value="<%=contents._id%>"> -->
          <input type="hidden" id="modId" name="modId" v-bind:value="detail._id">
        </form>
        <div class="btns">
          <button v-on:click="modifyItemComp">수정완료</button>
          <button v-on:click="modifyItemCancle">수정취소</button>
        </div>
      </div>
      <!--// modify -->
    
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

  <script src="/javascripts/moment.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="/javascripts/boardMain.js"></script>

</body>